<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.campusdirect"
        versionCode = "10" 
        version     = "4.0.0" >

    <!-- versionCode is optional and Android only -->

	<icon src="images/campus.jpg" />
    <name>Campus Direct Application</name>

    <description>
        An app allows users within a campus find the location of specific buildings within the campus. 
    </description>

    <author href="http://www.nmm.ie" email="sean@nmm.ie">
        Sean Cahill
    </author>
	
	<access origin="*://*.googleapis.com/*" subdomains="true" />
	<access origin="*://*.gstatic.com/*" subdomains="true" />
	<access origin="*://*.google.com/*" subdomains="true" />
	<access origin="*://*.googleusercontent.com/*" subdomains="true" />
	
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.device-motion" />
	<gap:plugin name="org.apache.cordova.device-orientation" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	</widget>